nav {
  background-color: #213143;
}

.sideNav {
  background-color: #213143;
  height: 100%;
  width: 150px;
  float: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul a {
  text-decoration: none;
  font-size: 1.1rem;
}

ul a:hover {
  color: black;
  font-weight: bold;
}

ul li {
  padding: 20px 0 20px 30px;
  border-top: 5px solid #232528;
}

ul li:hover {
  background-color: #BABABA;
}

h1 a {
  color: #2b7bff;
  text-decoration: none;
}

h1 a:hover {
  color: #0060ff;
}


